/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

/* FOOTER TO BOTTOM */

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.doc-main {
    flex-grow: 1;
}

.open {
    display: flex !important;
}

/* HEADER LEFT */

.doc-header {
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.doc-header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 980px;
}

.header-logo-block {
    display: flex;
    align-items: center;
    width: 275px;
}

.header-logo-block img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.logo-name {
    margin-left: 10px;
}

.company-name,
.company-slogan,
.header-contact-block ul {
    color: #767676;
}

.company-name {
    font-size: 22px;
    margin-bottom: 5px;
}

/* HEADER RIGHT */

.header-contact-block {
    text-align: right;
}

.header-contact-block ul {
    list-style-type: none;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0;
}

.header-contact-block-phone a,
.header-contact-block p {
    font-size: 22px;
}

.header-contact-block-phone a {
    text-decoration: none;
    color: inherit;
}

.header-contact-block p {
    text-decoration: underline dotted 2px;
    font-size: 16px;
    font-weight: bold;
}

/* MENU */

.main-menu {
    background-color: #777777;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu-nav {
    width: 1000px;
}

.menu-nav-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

.menu-nav-ul li {
    border-right: 1px solid #fcfcfc;
}

.menu-nav-ul :last-child {
    border: none;
}

.menu-nav-ul a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 22px;
    padding: 0px 10px;
}

.menu-nav-ul a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* BURGER */

.menu-burger {
    display: none;
    position: relative;
    align-items: center;
    justify-content: start;
    width: 50px;
    height: 25px;
    right: 95%;
}

.menu-burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-burger::before,
.menu-burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fcfcfc;
    transition: all 0.3s ease 0s;
}

.menu-burger::before {
    top: 0;
}

.menu-burger::after {
    bottom: 0;
}

.menu-burger.active span {
    transform: scale(0);
}

.menu-burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.menu-burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/* SLIDER */

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-content {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: hidden;
}

.slide-item {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: none;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-navigate-btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 43.5%;
    left: 25%;
    right: 25%;
}

.slider-navigate-btn button {
    background: transparent;
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209, 0.7);
    font-size: 50px;
    height: 50px;
    width: 35px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

/* FOOTER  */

.doc-footer {
    background-color: #777777;
    height: 100px;
}

/* ADAPTIVE */

@media screen and (max-width: 800px) {

    /* HEADER */

    /* .doc-header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* BURGER MENU */

    .menu-burger {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
    }

    .menu-nav {
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-nav-ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        margin-top: 1%;
        top: 40%;
        z-index: 3;
        overflow-y: auto;
        padding: 50px 40px 10px 40px;
        background-color: #777777;
        animation: burgerAnimation 0.8s ease-in-out;
        transition: all 1s;
        row-gap: 20px;
    }

    @keyframes burgerAnimation {
        from {
            opacity: 0;
            transform: translateX(-25px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .menu-nav-ul li {
        border: none;
    }

    .slider-content {
        height: 300px;
    }

    .slide-item img {
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}