/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

/* FOOTER TO BOTTOM */

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.doc-main {
    flex-grow: 1;
}

.open {
    display: flex !important;
}

/* HEADER LEFT */

.doc-header {
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.doc-header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 980px;
}

.header-logo-block {
    display: flex;
    align-items: center;
    width: 275px;
}

.header-logo-block img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.logo-name {
    margin-left: 10px;
}

.company-name,
.company-slogan,
.header-contact-block ul {
    color: #767676;
}

.company-name {
    font-size: 22px;
    margin-bottom: 5px;
}

/* HEADER RIGHT */

.header-contact-block {
    text-align: right;
}

.header-contact-block ul {
    list-style-type: none;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0;
}

.header-contact-block-phone a,
.header-contact-block p {
    font-size: 22px;
}

.header-contact-block-phone a {
    text-decoration: none;
    color: inherit;
}

.header-contact-block p {
    text-decoration: underline dotted 2px;
    font-size: 16px;
    font-weight: bold;
}

/* MENU */

.main-menu {
    background-color: #777777;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu-nav {
    width: 1000px;
}

.menu-nav-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

.menu-nav-ul li {
    border-right: 1px solid #fcfcfc;
}

.menu-nav-ul :last-child {
    border: none;
}

.menu-nav-ul a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 22px;
    padding: 0px 10px;
}

.menu-nav-ul a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* BURGER */

.menu-burger {
    display: none;
    position: relative;
    align-items: center;
    justify-content: start;
    width: 50px;
    height: 25px;
    right: 95%;
}

.menu-burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-burger::before,
.menu-burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fcfcfc;
    transition: all 0.3s ease 0s;
}

.menu-burger::before {
    top: 0;
}

.menu-burger::after {
    bottom: 0;
}

.menu-burger.active span {
    transform: scale(0);
}

.menu-burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.menu-burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/* SLIDER */

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-content {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: hidden;
}

.slide-item {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: none;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-navigate-btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 43.5%;
    left: 25%;
    right: 25%;
}

.slider-navigate-btn button {
    background: transparent;
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209, 0.7);
    font-size: 50px;
    height: 50px;
    width: 35px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

/* MAIN CONTENT */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 980px;
    padding: 0 10px;
}

.content-container {
    display: flex;
    align-items: flex-start;
    width: 980px;
    padding: 0 10px;
    margin-top: 30px;
}

/* BREADCRUMBS */

.breadcrumb {
    color: #767676;
    align-self: flex-start;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumb ul li {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}

/* .breadcrumb ul li:last-child {
    font-weight: bold;
} */

.breadcrumb ul li:not(:last-child)::after {
    content: '/';
    margin-left: 5px;
    margin-right: 5px;
    color: #666;
}

.breadcrumb ul li a {
    text-decoration: underline;
    color: #767676;
}

/* CATEGORY LIST */

.content-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 200px;
    margin-right: 10px;
}

.content-left ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

.category-item ul {
    list-style-type: disc;
}

.category-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-item {
    padding: 5px;
}

.subcategory-dropdown {
    display: none;
}

/* .category-item:hover ul {
    display: block;
    transition: all 0.4s;
    list-style-type: disc;
    animation: drop_down 0.8s ease-in-out;
}

@keyframes drop_down {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
} */

/* .category-item a {
    list-style-type: none;
    text-decoration: none;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
}

.category-item a:hover {
    text-decoration: underline;
    transition: all 0.4s;
}

.subcategory-dropdown a {
    text-decoration: underline;
    font-size: 14px;
} */

.category-item a {
    font-size: 16px;
}
.subcategory-dropdown a {
    font-size: 14px;
}

.category-item a,
.subcategory-dropdown a {
    text-decoration: none;
    color: #717171;
    font-weight: 400;
    position: relative;
}

.category-item a::after,
.subcategory-dropdown a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.category-item a:hover::after,
.subcategory-dropdown a:hover::after {
    background-color: #717171;
}

.left-image {
    position: relative;
    overflow: hidden;
    margin-top: 140px;
    margin-left: 40px;
}
.left-image img {
    display: block;
    padding-bottom: 3px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
.price-list-lable h1 {
    font-size: 26px;
    margin-top: 10px;
    margin-left: 15px;
    color: #444444;
}

.content-rigth {
    display: block;
    width: 800px;
    justify-content: left;
}
.store-goods-container {
    width: 800px;
    flex-wrap: wrap;
    justify-content: left;
    display: flex;
}
.store-goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 360px;
    margin: 5px;
    background-color: #dcdcdc;
}
.store-goods-item a {
    text-decoration: none;
    color: #444444;
    font-weight: 300;
}
.goods-item-image {
    width: 210px;
    height: 210px;
    padding: 20px;
}
.store-goods-item p {
    display: flex;
    align-items: flex-start;
    width: 210px;
    margin-bottom: 20px;
}
.store-goods-item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
  }
  .store-goods-item-price h1 {
    font-size: 22px;
  }
  .store-goods-item-price img {
    height: 25px;
    width: 25px;
  }

.content-pagination ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    font-weight: 300;
}
.content-pagination li:not(:last-child) {
    margin-right: 10px;
}

.content-pagination a {
    text-decoration: none;
    color: #444444;
    cursor: pointer;
}
.content-pagination li.pagination-active {
    font-weight: 700;
}
.content-separate-line {
    margin-top: 6%;
    color: #777777;
    margin-bottom: 10px;
}
.content-bottom-text p {
    width: 50%;
    color: #767676;
}


/* FOOTER  */

.doc-footer {
    background-color: #777777;
    height: 100px;
}

/* ADAPTIVE */

@media screen and (max-width: 800px) {

    /* HEADER */

    /* .doc-header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* BURGER MENU */

    .menu-burger {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
    }

    .menu-nav {
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-nav-ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        margin-top: 1%;
        top: 40%;
        z-index: 3;
        overflow-y: auto;
        padding: 50px 40px 10px 40px;
        background-color: #777777;
        animation: burgerAnimation 0.8s ease-in-out;
        transition: all 1s;
        row-gap: 20px;
    }

    @keyframes burgerAnimation {
        from {
            opacity: 0;
            transform: translateX(-25px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .menu-nav-ul li {
        border: none;
    }

    .slider-content {
        height: 300px;
    }

    .slide-item img {
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}