@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    line-height: 22px;
    font-family:'PT Sans', sans-serif; 
    font-size: 14px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.doc-main {
    flex-grow: 1;
}

/* header left */
.doc-header {
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.doc-header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 980px;
}
.header-logo-block {
    display: flex;
    align-items: center;
    width: 275px;
}
.header-logo-block img {
    height: 100px;
    width: 100px;
    padding: 10px;
}
.logo-name {
    margin-left: 10px;
}
.company-name {
    font-size: 22px;
}

/* header right */
.header-contact-block{
    text-align: right;
}
.header-contact-block ul {
    list-style-type: none; 
    font-weight: 1000; 
}
.header-contact-block li {
    font-size: 22px;
}
.header-contact-block p {
    text-decoration: underline dotted 2px ;
}

/* footer  */
.doc-footer {
    background-color:#777777 ;
    height: 100px;
}

/* adaptive */
@media screen and(max-width:1000px) {
    .doc-header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}